<!--Table Title Section Starts-->
<div class="displayInlineFlex">
  <div class="cursorPointer mr-25">
    <app-icon [name]="'announcementGray'" [nameOnHover]="'announcementBlue'"></app-icon>
  </div>
  <div class="cursorPointer mr-25">
    <app-icon [name]="'knowledgeGray'" [nameOnHover]="'knowledgeBlue'"></app-icon>
  </div>
  <div class="cursorPointer mr-25">
    <app-icon [name]="'notificationGray'" [nameOnHover]="'notificationBlue'"></app-icon>
  </div>
  <div class="cursorPointer">
    <app-icon [name]="'dataCenterGray'" [nameOnHover]="'dataCenterBlue'"></app-icon>
  </div>
</div>

<!--Table Title Section Ends-->
