<!--Table Loader Skeleton Section Starts-->
<div class="skeletonTableSkeletonMainWrapper">
  <table class="skeletonTable">
    <thead class="skeletonTableHeader">
    <tr>
      <th *ngFor="let th of [].constructor(4)"><div class="skeletonWave"></div> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tr of [].constructor(5)">
      <td *ngFor="let td of [].constructor(4)"> <div class="skeletonWave rounded"></div> </td>
    </tr>
    </tbody>
  </table>
</div>
<!--Table Loader Skeleton Section Ends-->
